form {text-align: right;}

        .madlibbox {
            background: #F2F1E9;
            border-right: #25201A 1px solid;
            border-top: #25201A 1px solid;
            border-left: #25201A 1px solid;
            border-bottom: #25201A 1px solid;
            padding: 10px 10px 10px 10px;
            font-size: medium;
            margin: auto;
            width: 340px;
            font-family: Verdana, "Myriad Web", Syntax, sans-serif;
        }

        body	{
            padding: 0;
            border: 0;
            background: #DFDFC8;
            width:	auto;
            text-align: center;
        }
        h1 {padding: 10px; text-align: center; text-transform: uppercase;}
        